<html>
	<head>
		<style>
			h1 {
				color: blue;
			}
		</style>
	</head>
	<body>
		<% 
			for(var i = 0; i < 100; i++){
		%>

			<h1>hello <%=name%> loves <%=food%>.</h1>

		<%
			}
		%>
		
		
	</body>
</html>